{%- if argocd.enable -%}
{%- if karpenter.enable -%}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: karpenter
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: public.ecr.aws
      chart: karpenter/karpenter
      targetRevision: 1.4.0
      helm:
        valueFiles:
          - $values/helm/karpenter/values.yaml
    - repoURL: {{ argocd.git_repo_url }}
      targetRevision: {{ argocd.target_revision }}
      ref: values
  destination:
    server: "https://kubernetes.default.svc"
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{%- endif -%}
{%- endif -%}