selfhosted_git_server_fingerprint = "{{ argocd.selfhosted_git_server_fingerprint }}"
git_repo_url                      = "{{ argocd.git_repo_url }}"
git_repo_private_key              = {{ argocd.git_repo_private_key }}
git_target_revision               = "{{ argocd.git_target_revision }}"
