selfhosted_git_server_fingerprint = {{ argocd.selfhosted_git_server_fingerprint }}
git_repo_url                      = "ssh://git@gitlab.devops-cloud.io:3522/devopsgroupsk/packages/aws-premium.git"
git_repo_private_key              = {{ argocd.git_repo_private_key }}