{%- if opensearch -%}
{%- if opensearch.enable -%}
module "opensearch" {
  source  = "terraform-aws-modules/opensearch/aws"
  version = "~> 2.0"

  domain_name          = var.opensearch_domain_name
  engine_version       = var.opensearch_version
  create_access_policy = true
  ip_address_type      = "dualstack"

  cluster_config = {
    instance_count = var.opensearch_instance_count
    instance_type  = var.opensearch_instance_type

    zone_awareness_enabled = var.opensearch_zone_awareness_enabled
    zone_awareness_config = {
      availability_zone_count = var.opensearch_availability_zone_count
    }
  }

  node_to_node_encryption = {
    enabled = var.opensearch_node_to_node_encryption_enabled
  }

  encrypt_at_rest = {
    enabled = var.opensearch_encrypt_at_rest_enabled
  }

  software_update_options = {
    auto_software_update_enabled = var.opensearch_auto_software_update_enabled
  }

  ebs_options = {
    ebs_enabled = var.opensearch_ebs_enabled
    volume_type = var.opensearch_ebs_volume_type
    volume_size = var.opensearch_ebs_volume_size
  }

  advanced_options = {
    "rest.action.multi.allow_explicit_index" = "true"
  }

  domain_endpoint_options = {
    custom_endpoint_enabled         = var.opensearch_custom_endpoint_enabled
    custom_endpoint                 = var.opensearch_custom_endpoint
    custom_endpoint_certificate_arn = var.opensearch_acm_certificate_arn
    enforce_https                   = var.opensearch_enforce_https
    tls_security_policy             = "Policy-Min-TLS-1-2-2019-07"
  }

  advanced_security_options = {
    enabled                        = var.opensearch_advanced_security_options_enabled
    internal_user_database_enabled = var.opensearch_internal_user_database_enabled
    master_user_options = {
      master_user_name     = var.opensearch_master_user_name
      master_user_password = var.opensearch_master_user_password != "" ? var.opensearch_master_user_password : random_password.password.result
    }
  }
}

resource "random_password" "password" {
  length = 16

  min_lower   = 1
  min_upper   = 1
  min_numeric = 1
  min_special = 1
}
{% endif %}
{% endif %}
