# @param argocd.git_repo_url
globals:
  repoURL: git@github.com:devopsgroupeu/openprime-infra-templates.git

appProjects:
  # Observability Stack
  - namespace: monitoring
    applications:
      # @section helmCharts.prometheusStack.enabled begin
      - name: kube-prometheus-stack-crds
        path: external/prometheus-community/kube-prometheus-stack/75.9.0/charts/crds
        targetRevision: f/virostek
        replace: true
        autoSync: true
        skipValuesFile: true
      - name: kube-prometheus-stack
        path: external/prometheus-community/kube-prometheus-stack/75.9.0
        targetRevision: f/virostek
        autoSync: true
        skipCrds: true
      # @section helmCharts.prometheusStack.enabled end

      # @section helmCharts.promtail.enabled begin
      - name: promtail
        path: external/grafana/promtail/6.17.0
        targetRevision: f/virostek
        autoSync: true
      # @section helmCharts.promtail.enabled end

      # @section helmCharts.loki.enabled begin
      - name: loki
        path: external/grafana/loki/6.30.1
        targetRevision: f/virostek
        autoSync: true
      # @section helmCharts.loki.enabled end

      # @section helmCharts.tempo.enabled begin
      - name: tempo
        path: external/grafana/tempo-distributed/1.45.0
        targetRevision: f/virostek
        autoSync: true
      # @section helmCharts.tempo.enabled end

  # @section helmCharts.ingressNginx.enabled begin
  ## Ingress
  - namespace: ingress-nginx
    applications:
      - name: ingress-nginx
        path: external/ingress-nginx/ingress-nginx/4.13.0
        targetRevision: f/virostek
        autoSync: true
  # @section helmCharts.ingressNginx.enabled end

  # @section helmCharts.certManager.enabled begin
  ## Certificate Management
  - namespace: cert-manager
    applications:
      - name: cert-manager
        path: external/cert-manager/cert-manager/1.18.2
        targetRevision: f/virostek
        autoSync: true
  # @section helmCharts.certManager.enabled end

  # @section helmCharts.awsLBController.enabled begin
  - namespace: kube-system
    applications:
      - name: aws-lb-controller
        path: external/eks/aws-load-balancer-controller/1.16.0
        targetRevision: f/virostek
        autoSync: true
  # @section helmCharts.awsLBController.enabled end
      - name: karpenter
        path: external/karpenter/karpenter/1.8.3
        targetRevision: f/virostek
        autoSync: true
  
  # Gateway API (Uncomment when IRSA is configured)
  # Gateway API provides next-generation ingress with VPC Lattice integration
  # Run in parallel with ingress-nginx for gradual migration
  # - namespace: gateway-system
  #   applications:
  #     - name: gateway-api-crds
  #       path: external/gateway-api/gateway-api-crds/1.0.0
  #       targetRevision: f/virostek
  #     - name: aws-gateway-controller
  #       path: external/aws/aws-gateway-controller/1.0.0
  #       targetRevision: f/virostek


