globals:
  repoURL: git@github.com:devopsgroupeu/openprime-infra-templates.git
  
appProjects:
  # Observability Stack
  - namespace: monitoring
    applications:
      - name: kube-prometheus-stack-crds
        path: external/prometheus-community/kube-prometheus-stack/75.9.0/charts/crds
        targetRevision: openprime-init-integration
        replace: true
        autoSync: true
      - name: kube-prometheus-stack
        path: external/prometheus-community/kube-prometheus-stack/75.9.0
        targetRevision: openprime-init-integration
        skipCrds: true
      - name: promtail
        path: external/grafana/promtail/6.17.0
        targetRevision: openprime-init-integration
      - name: loki
        path: external/grafana/loki/6.30.1
        targetRevision: openprime-init-integration
      - name: thanos
        path: external/bitnami/thanos/17.2.1
        targetRevision: openprime-init-integration
      - name: tempo
        path: external/grafana/tempo-distributed/1.45.0
        targetRevision: openprime-init-integration
  
  # Ingress
  - namespace: ingress-nginx
    applications:
      - name: ingress-nginx
        path: external/ingress-nginx/ingress-nginx/4.13.0
        targetRevision: openprime-init-integration
  
  # Certificate Management
  - namespace: cert-manager
    applications:
      - name: cert-manager
        path: external/cert-manager/cert-manager/1.18.2
        targetRevision: openprime-init-integration
  
  # Gateway API (Uncomment when IRSA is configured)
  # Gateway API provides next-generation ingress with VPC Lattice integration
  # Run in parallel with ingress-nginx for gradual migration
  # - namespace: gateway-system
  #   applications:
  #     - name: gateway-api-crds
  #       path: external/gateway-api/gateway-api-crds/1.0.0
  #       targetRevision: openprime-init-integration
  #     - name: aws-gateway-controller
  #       path: external/aws/aws-gateway-controller/1.0.0
  #       targetRevision: openprime-init-integration


